body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Adjust gap between images */
}

.photo {
    position: relative;
    cursor: pointer;
}

.photo img {
    width: 150px; /* Adjust based on preference */
    height: auto;
    transition: transform 0.5s, filter 0.5s ease;
    display: block;
}

.photo:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

.info {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px 0;
}

.photo:hover .info {
    visibility: visible;
    opacity: 1;
}
